/*Toggle switch*/

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 14px;
    margin-top: .5rem;
}

/* Hide default HTML checkbox */
.switch input {
    display:none;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #eeeeee;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 0;
    top: -3px;
    background-color: white;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.6);
    -webkit-transition: .2s;
    transition: .2s;
}

input:checked + .slider {
    background-color: #808080;
}

input:focus + .slider {
    box-shadow: 0 0 1px #808080;
}

input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
.switch-label{
    position: relative;
    display: inline-block;
    font-size: 14px;
    margin-right: 0.5rem;
}
/*End toggle switch*/
